name: CI

on:
  pull_request:
    branches:
      - 'main'
      - '!test-base-*'
  push:
    branches:
      - main

  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76  # v2.0.2

    - name: Install dependencies
      run: bun install

    - name: lint
      run: bun run --bun lint

    - name: build
      run: bun run --bun build

    - name: package
      run: bun run --bun package

    - name: test
      run: bun run --vitest test

  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - uses: oven-sh/setup-bun@735343b667d3e6f658f44d0eca948eb6282f2b76  # v2.0.2

    - name: Install dependencies
      run: bun install

    - name: lint
      run: bun run --bun lint
