name: CI

on:
  pull_request_target:
    branches: 
      - 'main'
      - '!test-base-*'
  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  build:

    strategy:
      matrix:
        node-version: [14.x, 16.x]
    
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Build and lint
        run: |
          yarn install
          yarn build
          yarn package
          yarn test

  lint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'yarn'

      - name: Build and lint
        run: |
          yarn install
          yarn lint

  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: 'yarn'

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn cache dir)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v3
        id: yarn-cache
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Git config
        run: |
          git config --local user.email "ken-yo@mbr.nifty.com"
          git config --local user.name "Kenji Saito"

      - name: Create base branch
        if: github.event_name != 'pull_request'
        run: |
          BASE_BRANCH_NAME="test-base-$(date "+%Y%m%d-%H%M%S")"
          git switch -c "${BASE_BRANCH_NAME}"
          touch test.txt
          git add test.txt
          git commit -m "Test $(date)"
          echo "BASE_BRANCH_NAME=${BASE_BRANCH_NAME}" >> $GITHUB_ENV

      - name: Push Base
        if: github.event_name != 'pull_request'
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN_FOR_GITHUB_ACTIONS }}
          branch: ${{ env.BASE_BRANCH_NAME }}

      - name: Create head branch
        if: github.event_name != 'pull_request'
        run: |
          BRANCH_NAME="test-$(date "+%Y%m%d-%H%M%S")"
          git switch -c "${BRANCH_NAME}"
          touch test1.txt
          git add test1.txt
          git commit -m "Test $(date)"
          echo "BRANCH_NAME=${BRANCH_NAME}" >> $GITHUB_ENV
          echo "TIMESTAMP=$(date)" >> $GITHUB_ENV

      - name: Push Changes
        if: github.event_name != 'pull_request'
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN_FOR_GITHUB_ACTIONS }}
          branch: ${{ env.BRANCH_NAME }}

      - name: Create pull request
        if: github.event_name != 'pull_request'
        id: create-pull-request
        uses: poad/github-pull-requester@v1.0.1
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN_FOR_GITHUB_ACTIONS }}
          head_branch: ${{ env.BRANCH_NAME }}
          base_branch: ${{ env.BASE_BRANCH_NAME }}
          title: ${{ format('Test for {0}', env.TIMESTAMP) }}
          body: ${{ format('Test for {0}', env.TIMESTAMP) }}
          repository: ${{ github.event.repository.name }}
          owner: ${{ github.repository_owner }}

      - name: Extract response
        if: github.event_name != 'pull_request'
        env:
          RESULT: ${{ steps.create-pull-request.outputs.result }}
        run: |
          PULL_REQUEST_HTML_URL=$(echo ${RESULT} | jq -r .data.html_url)
          echo "PULL_REQUEST_HTML_URL=${PULL_REQUEST_HTML_URL}" >> $GITHUB_ENV
          PULL_REQUEST_NUMBER=$(echo ${RESULT} | jq -r .data.number)
          echo "PULL_REQUEST_NUMBER=${PULL_REQUEST_NUMBER}" >> $GITHUB_ENV

      - name: enable auto merge test (for Not Pull request)
        if: github.event_name != 'pull_request'
        env: 
          GITHUB: $${{  toJSON(github) }}
        uses: ./
        with:
          pull_request_number: ${{ env.PULL_REQUEST_NUMBER }}
          github_token: ${{ secrets.PERSONAL_TOKEN_FOR_GITHUB_ACTIONS }}
          repository:  ${{ github.event.repository.name }}
          owner: ${{ github.repository_owner }}

      - name: enable auto merge test (for Pull request)
        if: github.event_name == 'pull_request' && github.actor != 'dependabot[bot]'
        env: 
          GITHUB: $${{  toJSON(github) }}
        uses: ./
        with:
          pull_request_id: ${{ github.event.pull_request.node_id }}
          github_token: ${{ secrets.PERSONAL_TOKEN_FOR_GITHUB_ACTIONS }}
          repository:  ${{ github.event.repository.name }}
          owner: ${{ github.repository_owner }}
          merge_method: SQUASH

      - name: Close Pull Request
        uses: peter-evans/close-pull@v3
        if: ${{ always() }}
        with:
          pull-request-number: ${{ env.PULL_REQUEST_NUMBER }}
          comment: Auto-closing pull request
          delete-branch: true
